templates/Incremental-Extraction/Incremental-Extraction.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"AzureDatabricks": {
			"type": "string"
		},
		"bidb_linked_service": {
			"type": "string"
		},
		"AzureDataLakeStorage": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CD62_ESTOQUE_MOVIMENTO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LAST_WATERMARK",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[get_watermark]",
								"storedProcedureParameters": {
									"process_name": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.src_table_name",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermark_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "NEW_WATERMARK",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT MAX(@{pipeline().parameters.src_incremental_col}) AS new_watermark\nFROM @{pipeline().parameters.src_table_name} (NOLOCK)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "gmcore_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Insert into Raw Layer",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy Part to Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/caio@caiobelfort.onmicrosoft.com/staging-to-raw",
							"baseParameters": {
								"input-path": {
									"value": "/mnt/staging/@{variables('staging_dir_name')}",
									"type": "Expression"
								},
								"raw-path": {
									"value": "@{pipeline().parameters.dest_table_name}",
									"type": "Expression"
								},
								"obs-msg": {
									"value": "Inserted By ADF Pipeline: @{pipeline().Pipeline} at Run: @{pipeline().RunId}",
									"type": "Expression"
								},
								"input-format": "parquet"
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('AzureDatabricks')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Last Watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Insert into Raw Layer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[update_watermark]",
							"storedProcedureParameters": {
								"process_name": {
									"value": {
										"value": "@pipeline().parameters.src_table_name",
										"type": "Expression"
									},
									"type": "String"
								},
								"last_rowversion": {
									"value": {
										"value": "@activity('NEW_WATERMARK').output.firstRow.new_watermark",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('bidb_linked_service')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Delete From Staging",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Update Last Watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "staging_ds",
								"type": "DatasetReference",
								"parameters": {
									"dirName": "someDir"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Set Staging Dir Name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "LAST_WATERMARK",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "NEW_WATERMARK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "staging_dir_name",
							"value": {
								"value": "@{pipeline().parameters.src_table_name}/incremental_from_@{activity('LAST_WATERMARK').output.firstRow.last_watermark}_to_@{activity('NEW_WATERMARK').output.firstRow.new_watermark}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy Part to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Staging Dir Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "staging/@{pipeline().parameters.src_table_name}/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "__dtts_extracao",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": {
									"value": "SELECT *\nFROM @{pipeline().parameters.src_table_name} (NOLOCK)\nWHERE @{pipeline().parameters.src_incremental_col} > @{activity('LAST_WATERMARK').output.firstRow.last_watermark}\nAND @{pipeline().parameters.src_incremental_col} <= @{activity('NEW_WATERMARK').output.firstRow.new_watermark};",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "gmcore_ds",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "staging_ds",
								"type": "DatasetReference",
								"parameters": {
									"dirName": {
										"value": "@variables('staging_dir_name')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"src_table_name": {
						"type": "string",
						"defaultValue": "bi.dbo.cd62_estoque_movimento"
					},
					"dest_table_name": {
						"type": "string",
						"defaultValue": "/mnt/raw/rdbms/mssql/gmcore/cadastro/dbo/cd62bo_estoque_movimento"
					},
					"src_incremental_col": {
						"type": "string",
						"defaultValue": "cast(CD62_ROWVERSION as bigint)"
					}
				},
				"variables": {
					"staging_dir_name": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SRC_EXTRACAO/GMCORE/BI"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-08T16:03:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/watermark_ds')]",
				"[concat(variables('factoryId'), '/datasets/gmcore_ds')]",
				"[concat(variables('factoryId'), '/datasets/staging_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/watermark_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('bidb_linked_service')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "last_rowversion",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "rowversion_lookup"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/gmcore_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('bidb_linked_service')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/staging_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStorage')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dirName": {
						"type": "string",
						"defaultValue": "someDir"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().dirName",
							"type": "Expression"
						},
						"fileSystem": "staging"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}