pipeline/CD62_ESTOQUE_MOVIMENTO.json
{
	"name": "CD62_ESTOQUE_MOVIMENTO",
	"properties": {
		"activities": [
			{
				"name": "LAST_WATERMARK",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[get_watermark]",
						"storedProcedureParameters": {
							"process_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.src_table_name",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "gmcore_bi_ds2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NEW_WATERMARK",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(@{pipeline().parameters.src_incremental_col}) AS new_watermark\nFROM @{pipeline().parameters.src_table_name} (NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "gmcore_bi_ds2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Insert into Raw Layer",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy Part to Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/caio@caiobelfort.onmicrosoft.com/staging-to-raw",
					"baseParameters": {
						"input-path": {
							"value": "/mnt/staging/@{pipeline().runId}",
							"type": "Expression"
						},
						"output-path": {
							"value": "@{pipeline().parameters.dest_table_name}",
							"type": "Expression"
						},
						"obs-msg": {
							"value": "Inserted by ADF RUN ID: @{pipeline().RunId}",
							"type": "Expression"
						},
						"input-format": "parquet"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Last Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Insert into Raw Layer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_watermark]",
					"storedProcedureParameters": {
						"process_name": {
							"value": {
								"value": "@pipeline().parameters.src_table_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"last_rowversion": {
							"value": {
								"value": "@activity('NEW_WATERMARK').output.firstRow.new_watermark",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "bidb_linked_service",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy Part to Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LAST_WATERMARK",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NEW_WATERMARK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "__dtts_extracao",
								"value": {
									"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ss')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM @{pipeline().parameters.src_table_name} (NOLOCK)\nWHERE @{pipeline().parameters.src_incremental_col} > @{activity('LAST_WATERMARK').output.firstRow.last_watermark}\nAND @{pipeline().parameters.src_incremental_col} <= @{activity('NEW_WATERMARK').output.firstRow.new_watermark}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "gmcore_bi_ds2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_ds2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Remove Staging Files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Update Last Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "staging_ds",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"src_table_name": {
				"type": "string",
				"defaultValue": "bi.dbo.cd62_estoque_movimento"
			},
			"dest_table_name": {
				"type": "string",
				"defaultValue": "/mnt/raw/rdbms/mssql/gmcore/cadastro/dbo/cd62_estoque_movimento"
			},
			"src_incremental_col": {
				"type": "string",
				"defaultValue": "cast(cd62_rowversion as bigint)"
			}
		},
		"folder": {
			"name": "SRC_EXTRACAO/GMCORE/BI"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-08T16:03:27Z"
	}
}