pipeline/IncExtractionWithInsertionOnRawLayer.json
{
	"name": "IncExtractionWithInsertionOnRawLayer",
	"properties": {
		"activities": [
			{
				"name": "LAST_WATERMARK",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[get_watermark]",
						"storedProcedureParameters": {
							"process_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.src-table-name",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "gmcore_bi_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NEW_WATERMARK",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@SELECT MAX(pipeline().parameters.src-incremental-col) AS new_watermark\nFROM pipeline().parameters.src-table-name (NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "gmcore_bi_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "PARTITIONS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LAST_WATERMARK",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NEW_WATERMARK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT pipeline().parameters.src-partition-col AS part\nFROM pipeline().parameters.src-table-name (NOLOCK)\nWHERE pipeline().parameters.src-incremental-col > @{activity('LAST_WATERMARK').output.firstRow.last_watermark} \nAND pipeline().parameters.src-incremental-col <= @{activity('NEW_WATERMARK').output.firstRow.new_watermark};",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "gmcore_bi_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "PARTITIONS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('PARTITIONS').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "__dtts_extracao",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "SELECT *\nFROM pipeline().parameters.src-table-name (NOLOCK)\nWHERE pipeline().parameters.src-incremental-col > @{activity('LAST_WATERMARK').output.firstRow.last_watermark}\nAND pipeline().parameters.src-incremental-col <= @{activity('NEW_WATERMARK').output.firstRow.new_watermark}\nAND pipeline().parameters.src-partition-col = '@{item().part}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 4,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "gmcore_bi_ds",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "staging_ds",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/caio@caiobelfort.onmicrosoft.com/staging-to-raw",
					"baseParameters": {
						"input-path": {
							"value": "/mnt/staging/@{pipeline().runId}",
							"type": "Expression"
						},
						"output-path": {
							"value": "@pipeline().parameters.dest-table-name",
							"type": "Expression"
						},
						"run-id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"input-format": "parquet",
						"partition-by": {
							"value": "@pipeline().parameters.dest-partition-col",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_watermark]",
					"storedProcedureParameters": {
						"process_name": {
							"value": {
								"value": "@pipeline().parameters.src-table-name",
								"type": "Expression"
							},
							"type": "String"
						},
						"last_rowversion": {
							"value": {
								"value": "@activity('NEW_WATERMARK').output.firstRow.new_watermark",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "bidb_linked_service",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"src-table-name": {
				"type": "string",
				"defaultValue": "bi.dbo.bi15a_movimento"
			},
			"src-partition-col": {
				"type": "string",
				"defaultValue": "bi15a_id_filial"
			},
			"dest-table-name": {
				"type": "string",
				"defaultValue": "/mnt/raw/rdbms/mssql/gmcore/bi/dbo/bi15a_movimento"
			},
			"dest-partition-col": {
				"type": "string",
				"defaultValue": "bi15a_id_filial"
			},
			"src-incremental-col": {
				"type": "string",
				"defaultValue": "cast(bi15a_rowversion as bigint)"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-08T16:03:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}