gm-datafactory-ws/PartialArmTemplates/ArmTemplate_5_13_2021_14_37_19.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "gm-datafactory-ws"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BI15A_MOVIMENTO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LAST_WATERMARK",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[get_watermark]",
								"storedProcedureParameters": {
									"process_name": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.src_table_name",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "gmcore_bi_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "NEW_WATERMARK",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT MAX(@{pipeline().parameters.src_incremental_col}) AS new_watermark\nFROM @{pipeline().parameters.src_table_name} (NOLOCK)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "gmcore_bi_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "PARTITIONS",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LAST_WATERMARK",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "NEW_WATERMARK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT DISTINCT @{pipeline().parameters.src_partition_col} AS part\nFROM @{pipeline().parameters.src_table_name} (NOLOCK)\nWHERE @{pipeline().parameters.src_incremental_col} > @{activity('LAST_WATERMARK').output.firstRow.last_watermark} \nAND @{pipeline().parameters.src_incremental_col} <= @{activity('NEW_WATERMARK').output.firstRow.new_watermark};",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "gmcore_bi_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterate Over Partitions",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "PARTITIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('PARTITIONS').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Copy Part to Staging",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"additionalColumns": [
												{
													"name": "__dtts_extracao",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"sqlReaderQuery": {
												"value": "SELECT *\nFROM @{pipeline().parameters.src_table_name} (NOLOCK)\nWHERE @{pipeline().parameters.src_incremental_col} > @{activity('LAST_WATERMARK').output.firstRow.last_watermark}\nAND @{pipeline().parameters.src_incremental_col} <= @{activity('NEW_WATERMARK').output.firstRow.new_watermark}\nAND @{pipeline().parameters.src_partition_col} = @{item().part}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"dataIntegrationUnits": 4,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "gmcore_bi_ds",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "staging_ds",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					},
					{
						"name": "Insert into Raw Layer",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Iterate Over Partitions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/caio@caiobelfort.onmicrosoft.com/staging-to-raw",
							"baseParameters": {
								"input-path": {
									"value": "/mnt/staging/@{pipeline().runId}",
									"type": "Expression"
								},
								"raw-path": {
									"value": "@{pipeline().parameters.dest_table_name}",
									"type": "Expression"
								},
								"run-id": {
									"value": "@{pipeline().RunId}",
									"type": "Expression"
								},
								"input-format": "parquet",
								"partition-by": {
									"value": "@{pipeline().parameters.dest_partition_col}",
									"type": "Expression"
								},
								"operational-path": {
									"value": "@{pipeline().parameters.op_table_name}",
									"type": "Expression"
								},
								"primary-key": {
									"value": "@{pipeline().parameters.src_primary_key}",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Last Watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Insert into Raw Layer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[update_watermark]",
							"storedProcedureParameters": {
								"process_name": {
									"value": {
										"value": "@pipeline().parameters.src_table_name",
										"type": "Expression"
									},
									"type": "String"
								},
								"last_rowversion": {
									"value": {
										"value": "@activity('NEW_WATERMARK').output.firstRow.new_watermark",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "bidb_linked_service",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Remove Staging Files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Update Last Watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Insert into Raw Layer",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "staging_ds",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"parameters": {
					"src_table_name": {
						"type": "string",
						"defaultValue": "bi.dbo.bi15a_movimento"
					},
					"src_partition_col": {
						"type": "string",
						"defaultValue": "bi15a_id_filial"
					},
					"dest_table_name": {
						"type": "string",
						"defaultValue": "/mnt/raw/rdbms/mssql/gmcore/bi/dbo/bi15a_movimento"
					},
					"dest_partition_col": {
						"type": "string",
						"defaultValue": "bi15a_id_filial"
					},
					"src_incremental_col": {
						"type": "string",
						"defaultValue": "cast(bi15a_rowversion as bigint)"
					},
					"op_table_name": {
						"type": "string",
						"defaultValue": "/mnt/operational/rdbms/mssql/gmcore/bi/bi15a_movimento"
					},
					"src_primary_key": {
						"type": "string",
						"defaultValue": "bi15a_id"
					}
				},
				"folder": {
					"name": "SRC_EXTRACAO/GMCORE/BI"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-08T16:03:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD62_ESTOQUE_MOVIMENTO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LAST_WATERMARK",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[get_watermark]",
								"storedProcedureParameters": {
									"process_name": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.src_table_name",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "gmcore_bi_ds2",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "NEW_WATERMARK",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT MAX(@{pipeline().parameters.src_incremental_col}) AS new_watermark\nFROM @{pipeline().parameters.src_table_name} (NOLOCK)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "gmcore_bi_ds2",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Insert into Raw Layer",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy Part to Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/caio@caiobelfort.onmicrosoft.com/staging-to-raw",
							"baseParameters": {
								"input-path": {
									"value": "/mnt/staging/@{pipeline().runId}",
									"type": "Expression"
								},
								"output-path": {
									"value": "@{pipeline().parameters.dest_table_name}",
									"type": "Expression"
								},
								"run-id": {
									"value": "@{pipeline().RunId}",
									"type": "Expression"
								},
								"input-format": "parquet"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Last Watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Insert into Raw Layer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[update_watermark]",
							"storedProcedureParameters": {
								"process_name": {
									"value": {
										"value": "@pipeline().parameters.src_table_name",
										"type": "Expression"
									},
									"type": "String"
								},
								"last_rowversion": {
									"value": {
										"value": "@activity('NEW_WATERMARK').output.firstRow.new_watermark",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "bidb_linked_service",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy Part to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LAST_WATERMARK",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "NEW_WATERMARK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"additionalColumns": [
									{
										"name": "__dtts_extracao",
										"value": {
											"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ss')",
											"type": "Expression"
										}
									}
								],
								"sqlReaderQuery": {
									"value": "SELECT *\nFROM @{pipeline().parameters.src_table_name} (NOLOCK)\nWHERE @{pipeline().parameters.src_incremental_col} > @{activity('LAST_WATERMARK').output.firstRow.last_watermark}\nAND @{pipeline().parameters.src_incremental_col} <= @{activity('NEW_WATERMARK').output.firstRow.new_watermark}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"dataIntegrationUnits": 4,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "gmcore_bi_ds2",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "staging_ds2",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"src_table_name": {
						"type": "string",
						"defaultValue": "bi.dbo.cd62_estoque_movimento"
					},
					"dest_table_name": {
						"type": "string",
						"defaultValue": "/mnt/raw/rdbms/mssql/gmcore/cadastro/dbo/cd62_estoque_movimento"
					},
					"src_incremental_col": {
						"type": "string",
						"defaultValue": "cast(cd62_rowversion as bigint)"
					}
				},
				"folder": {
					"name": "SRC_EXTRACAO/GMCORE/BI"
				},
				"annotations": [],
				"lastPublishTime": "2021-05-08T16:03:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/gmcore_bi_ds2')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]",
				"[concat(variables('factoryId'), '/datasets/staging_ds2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gmcore_bi_ds2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "bidb_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "BI15A_MOVIMENTO"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/staging_ds2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@{pipeline().runId}",
							"type": "Expression"
						},
						"fileSystem": "staging"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3607615068634270.10.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "**********"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "8.1.x-scala2.12",
					"newClusterInitScripts": []
				},
				"connectVia": {
					"referenceName": "MyAzureIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		}
	]
}