gm-datafactory-ws/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "gm-datafactory-ws"
		},
		"AzureDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks'"
		},
		"AzureDatabricksDeltaLake_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksDeltaLake'"
		},
		"bidb_linked_service_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'bidb_linked_service'"
		},
		"gmcore_bi_replica_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'gmcore_bi_replica'"
		},
		"AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://gmdatalakestoragepoc01.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BI15A_MOVIMENTO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Extração de dados da BI15A_MOVIMENTO",
				"activities": [
					{
						"name": "LK_WMARK_CURSOR",
						"description": "Lookup last position of watermark cursor ",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[get_watermark]",
								"storedProcedureParameters": {
									"process_name": {
										"type": "String",
										"value": {
											"value": "@{pipeline().DataFactory}__@{pipeline().Pipeline}",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermark_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "NEW_WATERMARK",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LK_WMARK_CURSOR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT MIN(BI15A_ID - 1)  AS lowerWatermark,\n            MAX(BI15A_ID) AS higherWatermark\nFROM BI.dbo.BI15A_MOVIMENTO (NOLOCK)\nWHERE BI15A_ID > @{activity('LK_WMARK_CURSOR').output.firstRow.last_watermark} AND\n   BI15A_DT >= '2021-01-01'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "gmcore_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "COPY_UNTIL",
						"description": "Copia os dados em partições definidas pelo batchSize",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "SET_WMARK_CURSOR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(int(variables('watermarkCursor')),activity('NEW_WATERMARK').output.firstRow.higherWatermark)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "SET_AUX_CURSOR",
									"description": "auxCursor = min(watermarkCursor + batchSize, newWatermark)",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "auxCursor",
										"value": {
											"value": "@string(add(int(variables('watermarkCursor')), pipeline().parameters.batchSize))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "INC_WCURSOR",
									"description": "watermarkCursor = auxCursor",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "CP_TO_STAGING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "watermarkCursor",
										"value": {
											"value": "@variables('auxCursor')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CP_TO_STAGING",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "SET_AUX_CURSOR",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT *, GETUTCDATE() __dtts_extracao\nFROM BI.dbo.BI15A_MOVIMENTO (NOLOCK)\nWHERE BI15A_ID > @{int(variables('watermarkCursor'))} AND \n             BI15A_ID <= @{int(variables('auxCursor'))} AND \n             ?AdfDynamicRangePartitionCondition",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "DynamicRange",
											"partitionSettings": {
												"partitionColumnName": "BI15A_ID_FILIAL",
												"partitionUpperBound": "400",
												"partitionLowerBound": "30"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 32,
										"dataIntegrationUnits": 4,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "gmcore_ds",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "staging_ds",
											"type": "DatasetReference",
											"parameters": {
												"dirName": {
													"value": "rdbms/mssql/gmcore/bi/dbo/bi15a_movimento/bi15a_id_from_@{variables('watermarkCursor')}_to_@{variables('auxCursor')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Update Watermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "INC_WCURSOR",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[update_watermark]",
										"storedProcedureParameters": {
											"last_rowversion": {
												"value": {
													"value": "@int(variables('watermarkCursor'))",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"process_name": {
												"value": {
													"value": "@{pipeline().DataFactory}__@{pipeline().Pipeline}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "bidb_linked_service",
										"type": "LinkedServiceReference"
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "SET_WMARK_CURSOR",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "NEW_WATERMARK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "watermarkCursor",
							"value": {
								"value": "@string(activity('NEW_WATERMARK').output.firstRow.lowerWatermark)",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"batchSize": {
						"type": "int",
						"defaultValue": 1000000
					}
				},
				"variables": {
					"watermarkCursor": {
						"type": "String"
					},
					"auxCursor": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SRC_TO_STAGING"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/watermark_ds')]",
				"[concat(variables('factoryId'), '/datasets/gmcore_ds')]",
				"[concat(variables('factoryId'), '/datasets/staging_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/bidb_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BI15B_MOVIMENTO_ITENS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Extração de dados da BI15B_MOVIMENTO_ITENS",
				"activities": [
					{
						"name": "LK_WMARK_CURSOR",
						"description": "Lookup last position of watermark cursor ",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[get_watermark]",
								"storedProcedureParameters": {
									"process_name": {
										"type": "String",
										"value": {
											"value": "@{pipeline().DataFactory}__@{pipeline().Pipeline}",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "watermark_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "NEW_WATERMARK",
						"description": "",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LK_WMARK_CURSOR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT MIN(BI15A_ID - 1)  AS lowerWatermark,\n            MAX(BI15A_ID) AS higherWatermark\nFROM BI.dbo.BI15A_MOVIMENTO (NOLOCK)\nWHERE BI15A_ID > @{activity('LK_WMARK_CURSOR').output.firstRow.last_watermark} AND\n   BI15A_DT >= '2021-01-01'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "gmcore_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "COPY_UNTIL",
						"description": "Copia os dados em partições definidas pelo batchSize",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "SET_WMARK_CURSOR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(int(variables('watermarkCursor')),activity('NEW_WATERMARK').output.firstRow.higherWatermark)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "SET_AUX_CURSOR",
									"description": "auxCursor = min(watermarkCursor + batchSize, newWatermark)",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "auxCursor",
										"value": {
											"value": "@string(add(int(variables('watermarkCursor')), pipeline().parameters.batchSize))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "INC_WCURSOR",
									"description": "watermarkCursor = auxCursor",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "CP_TO_STAGING",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "watermarkCursor",
										"value": {
											"value": "@variables('auxCursor')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CP_TO_STAGING",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "SET_AUX_CURSOR",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 3,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT B.*, GETUTCDATE() __dtts_extracao\nFROM BI.dbo.BI15A_MOVIMENTO A (NOLOCK)\n     JOIN BI.dbo.BI15B_MOVIMENTO_ITENS B (NOLOCK) \n             ON BI15A_ID = BI15B_ID_MOVIMENTO\nWHERE BI15A_ID > @{int(variables('watermarkCursor'))} AND \n             BI15A_ID <= @{int(variables('auxCursor'))} AND \n             ?AdfDynamicRangePartitionCondition",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "DynamicRange",
											"partitionSettings": {
												"partitionColumnName": "BI15A_ID_FILIAL",
												"partitionUpperBound": "",
												"partitionLowerBound": ""
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"parallelCopies": 8,
										"dataIntegrationUnits": 4,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "gmcore_ds",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "staging_ds",
											"type": "DatasetReference",
											"parameters": {
												"dirName": {
													"value": "rdbms/mssql/gmcore/bi/dbo/bi15b_movimento_itens/bi15a_id_from_@{variables('watermarkCursor')}_to_@{variables('auxCursor')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Update Watermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "INC_WCURSOR",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[update_watermark]",
										"storedProcedureParameters": {
											"last_rowversion": {
												"value": {
													"value": "@int(variables('watermarkCursor'))",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"process_name": {
												"value": {
													"value": "@{pipeline().DataFactory}__@{pipeline().Pipeline}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "bidb_linked_service",
										"type": "LinkedServiceReference"
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "SET_WMARK_CURSOR",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "NEW_WATERMARK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "watermarkCursor",
							"value": {
								"value": "@string(activity('NEW_WATERMARK').output.firstRow.lowerWatermark)",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"batchSize": {
						"type": "int",
						"defaultValue": 1000000
					}
				},
				"variables": {
					"watermarkCursor": {
						"type": "String"
					},
					"auxCursor": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SRC_TO_STAGING"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/watermark_ds')]",
				"[concat(variables('factoryId'), '/datasets/gmcore_ds')]",
				"[concat(variables('factoryId'), '/datasets/staging_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/bidb_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gmcore_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gmcore_bi_replica",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gmcore_bi_replica')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/staging_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dirName": {
						"type": "string",
						"defaultValue": "someDir"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().dirName",
							"type": "Expression"
						},
						"fileSystem": "staging"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/watermark_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "bidb_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "last_rowversion",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "rowversion_lookup"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/bidb_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "MyAzureIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/MyAzureIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3607615068634270.10.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_accessToken')]"
					},
					"instancePoolId": "0520-140542-hug356-pool-P3bu40pB",
					"newClusterNumOfWorker": "1",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "8.2.x-scala2.12",
					"newClusterInitScripts": []
				},
				"connectVia": {
					"referenceName": "MyAzureIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/MyAzureIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDeltaLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-3607615068634270.10.azuredatabricks.net",
					"clusterId": "0427-195853-yucca183",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksDeltaLake_accessToken')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bidb_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('bidb_linked_service_connectionString')]"
				},
				"connectVia": {
					"referenceName": "MyAzureIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/MyAzureIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/gmcore_bi_replica')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('gmcore_bi_replica_connectionString')]"
				},
				"connectVia": {
					"referenceName": "MyNotebookIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/MyNotebookIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MyAzureIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": true
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MyNotebookIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {
				"preventDataExfiltration": false
			},
			"dependsOn": []
		}
	]
}